.main {
  width: 500px;
  height: auto;
  background-color: rgb(17, 19, 37);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 15px;
}
@media screen and (max-width: 530px) {
  .main {
    width: 100%;
  }
}
.main h1 {
  color: #fff;
}